/* Manuscriptorium v 1.2 CSS - INDIVIDUAL */
/* Styles for the bibliographic descriptions */
/* ------------------------- */

#msDescription_main h1 {
background-color:white;
color: #000000;
}

#msDescription_main h2 {
background-color:white;
color: #000000;
}

#xsl p, #xsl td {
color: #000000;
}

#xsl a {
color: #0000FF;
font-weight:bold;
font-style: italic;
}

#xsl a:hover {
color: #FF0000;
}

#xsl h1 {
color: #000000;
}

#xsl h2 {
color: #000000;
}

#xsl h3 {
color: #000000;
}

#xsl h4 {
color: #000000;
}